/* Import de la police Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap%27");

/* Réinitialisation des marges, rembourrages et boîtes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles généraux pour le corps de la page */
body {
    background: #1e1e1e;
    font-family: "Inter", sans-serif;
}

/* Styles pour le conteneur principal */
.container {
    margin: 10px;
    background-color: #f5fdff;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
}

/* Styles pour la section de droite */
.right-section {
    width: 45%;
    display: flex;
    align-items: center;
    background: linear-gradient(177.26deg, #0b3948 10.7%, #1d6f8a 103.87%);
    border-radius: 40px;
    padding: 100px;
    margin: 20px;
}

/* Styles pour la section de gauche */
.left-section {
    width: 50%;
    display: flex;
    padding: 60px 50px;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

/* Styles pour le formulaire d'inscription */
.sign-up {
    margin: 50px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 360px;
}

/* Styles pour les titres */
h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #0b3948;
    margin-bottom: 10px;
}

/* Styles pour les champs d'entrée */
.full-name,
.email,
.password,
.confirm-password,
.phone {
    height: 40px;
    width: 100%;
    border-radius: 10px;
    padding: 0;
    border: 1px solid #454545;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Styles pour les liens */
a {
    color: #0b3948;
    font-weight: bold;
    text-decoration: none;
}

/* Styles pour le bouton */
button {
    background-color: #0b3948;
    color: white;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    margin: 20px 0px;
    font-size: 16px;
}

/* Styles pour le paragraphe */
.para {
    display: flex;
    justify-content: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

/* Styles pour l'image de droite */
.right-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    animation: verticalAlign 10s ease-in-out infinite;
}

/* Animation pour l'image de droite */
@keyframes verticalAlign {
    0% {
        transform: translate(0%, 20%);
    }
    50% {
        transform: translate(0%, -20%);
    }
    100% {
        transform: translate(0%, 20%);
    }
}

/* Styles pour les libellés des champs d'entrée */
.email-label,
.password-label {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Styles pour les champs d'entrée */
.input {
    text-indent: 10px;
}

/* Styles pour le message de succès */
.success-message {
    color: green;
    font-weight: bold;
}

