<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/project_BI/static/css/forgot_password.css">
</head>
<body>
    <div class="container">
        <div class="logo">
            <a href="home.html" id="logo-link">
                <img src="https://scontent.ftun9-1.fna.fbcdn.net/v/t39.30808-6/301995484_489093836556102_1763288729996808410_n.png?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=Ml2Nhdk3K5sAX-4Wq5r&_nc_ht=scontent.ftun9-1.fna&oh=00_AfB0RSTc3EJtM0FD-QOjU8cvd6BTN1EaEDq3nNr62auvpQ&oe=64D7119A" alt="logo" class="logo"></img>
            </a>
            
        </div>
        <div class="forgot-password-form">
            <h1>Forgot Your Password?</h1>
            <p>Enter your email to reset your password.</p>
            <input type="email" placeholder="Enter your email" class="email-input">
            <button class="reset-button">Reset Password</button>
            <p>Remember your password? <a href="signin.html">Sign In</a></p>
        </div>
        <div class="right-section">
            <img src="https://res.cloudinary.com/dgci0ivas/image/upload/v1684532795/login-pic_gbpvqw.svg" alt="Account-amico" class="right-img">
        </div>
    </div>
    <script src="/project_BI/static/js/forgot_password.js"></script>
</body>
</html>
