<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/project_BI/static/css/singup.css">
</head>

<body>
    <div class="container">
        <div class="left-section">
            <div class="logo">
                <a href="home.html" id="logo-link">
                    <img src="https://scontent.ftun9-1.fna.fbcdn.net/v/t39.30808-6/301995484_489093836556102_1763288729996808410_n.png?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=Ml2Nhdk3K5sAX-4Wq5r&_nc_ht=scontent.ftun9-1.fna&oh=00_AfB0RSTc3EJtM0FD-QOjU8cvd6BTN1EaEDq3nNr62auvpQ&oe=64D7119A"
                        alt="logo" class="logo">
                </a>
                
            </div>
            <div class="sign-up">
                <h1>Create Account</h1>
                <p>Please fill in the details to create your account.</p>
                <p class="email-label">Full Name</p>
                <input type="text" placeholder="Enter your full name" class="full-name input">
                <p class="email-label">Email</p>
                <input type="email" placeholder="Enter your email" class="email input">
                <p class="password-label">Password</p>
                <input type="password" placeholder="Enter your password" class="password input">
                <p class="password-label">Confirm Password</p>
                <input type="password" placeholder="Confirm your password" class="confirm-password input">
                <p class="email-label">Phone</p>
                <input type="text" placeholder="Enter your phone number" class="phone input">
                <button>Create Account</button>
                <div class="message-container"></div>
                <div class="para">
                    <p>Already have an account? <a href="signin.html">Sign In</a></p>
                </div>
            </div>
        </div>
        <div class="right-section">
            <img src="https://res.cloudinary.com/dgci0ivas/image/upload/v1684532795/login-pic_gbpvqw.svg"
                alt="Account-amico" class="right-img">
        </div>
    </div>
    <script src="/project_BI/static/js/signup.js"></script> 
</body>

</html>
